* {
  font-family: 'Open Sans';
  font-weight: 300;
}

h1 {
  text-align: center;
  font-size: 50px;
}

em {
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
}

p {
  margin-left: 50px;
  margin-right: 50px;
  font-size: 13pt;
}

.code {
  background-color: rgb(29, 31, 33);
  padding: 10px;
  border-radius: 10px;
  color: #c5c8c6;
  font-family: 'Inconsolata';
}

.comment {
  color: #7C7C7C;
  font-family: inherit;
}

@media (max-width: 604px) {
  p {
    margin-left: 20px;
    margin-right: 20px;
  }
}

a {
  text-decoration: none;
  color: black;
  font-size: 13pt;
  background-color: #FFEE00;
  padding: 10px;
  border-radius: 10px;
}

a:active {
  background-color: #CCBE00;
}

div {
  text-align: center;
}
